
.env{
    background-color: bisque;
    position: relative;
    height: 80vh;
    width: 60vw;
    border: 10px solid rgba(6, 6, 163, 0.8);
    border-image: repeating-linear-gradient( 
        -45deg, 
        rgba(6, 6, 163, 0.8), 
        rgba(6, 6, 163, 0.8) 25px, 
        transparent 25px, 
        transparent 40px,
        rgb(158, 0, 0) 40px,
        rgb(158, 0, 0) 65px,
        transparent 65px,
        transparent 80px,
       
     
         
    ) 12/10px;

    &__timbre{
        height: 10rem;
        position: absolute;
        top: 0;
        right: 0;
        // filter: sepia(100%);
    }
    &__stamp{
        height: 10rem;
        position: absolute;
        top: 3rem;
        right: 3rem;

    }
    &__info{
        font-family: 'Love Ya Like A Sister', cursive;

        color: black;
        position: absolute;
        top: 50%;
        right: 10rem;
        font-size: 2rem;
        text-align: center;
       
        &__item{
            border-bottom: 1px solid black;
             padding :  2rem 3rem 0 3rem;
        }
        &__name{
            text-transform: uppercase;

        }
    }
  

}